[submodule "archive"]
	path = archive
	url = git://github.com/shroysha/archive.git
[submodule "control-projector"]
	path = control-projector
	url = git://github.com/shroysha/control-projector.git
[submodule "pong"]
	path = pong
	url = git://github.com/shroysha/pong.git
[submodule "py"]
	path = py
	url = git://github.com/shroysha/py.git
[submodule "chatroom/chatroom-app-client"]
	path = chatroom/chatroom-app-client
	url = git://github.com/shroysha/chatroom-app-client.git
[submodule "chatroom/chatroom-ejb"]
	path = chatroom/chatroom-ejb
	url = git://github.com/shroysha/chatroom-ejb.git
[submodule "control-computer/control-computer-app-client"]
	path = control-computer/control-computer-app-client
	url = git://github.com/shroysha/control-computer-app-client.git
